@model BrojGodina.Models.Osoba
@{
    ViewBag.Title = "StrongTypeFormHelper";
}

<h2>FormHelper</h2>

<!Doctype html>

<html>
<head>
    <meta name="Viewport" content="width=device-width" />
    <title>FormHelper</title>
    <style>
        label {
            display: inline-block;
            width: 150px;
            margin: 5px;
        }

        .redColor {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                <label for="Ime">Ime:</label>
                @Html.TextBoxFor(x => x.Ime)
            </div>
            <div>
                <label for="Prezime">Prezime:</label>
                @Html.TextBoxFor(x => x.Prezime)
            </div>
            <div>
                <label for="Email">Email:</label>
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div>
                <label for="MjestoStanovanja">MjestoStanovanja:</label>
                @Html.DropDownListFor(x => x.MjestoStanovanja, new SelectList((string[])ViewBag.Mjesta), "-odaberite-")
            </div>
            <div>
                <label for="Spol">Spol:</label>
                @Html.RadioButtonFor(x => x.Spol, "M", true) Muško
                @Html.RadioButtonFor(x => x.Spol, "Ž", false) Žensko
            </div>
            <div>
                <label for="Zaposlen">Zaposlen:</label>
                @Html.CheckBoxFor(x => x.Zaposlen, false)
            </div>
            <input type="submit" value="Pošalji" />

        }
    </div>
    <p>
        <label class="redColor">@ViewBag.Poruka</label>
    </p>
</body>
</html>

