@model BrojGodina.Models.OsobaMeta
@{
    ViewBag.Title = "HtmlLabelDisplay";
}
<h2>HtmlLabelDisplay</h2>
<!Doctype Html>
<html>
<head>
    <title>HtmlLabelDisplay</title>
    <style>
        label {
            width: 150px;
            padding-top: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        @Html.Label("OsobaID")
        @Html.Display("OsobaID")
    </div>
    <div>
        @Html.Label("Ime")
        @Html.Display("Ime")
    </div>
    <div>
        @Html.Label("Prezime")
        @Html.Display("Prezime")
    </div>
    <div>
        @Html.Label("Email")
        @Html.Display("Email")
    </div>
    <div>
        @Html.Label("OsobaID")
        @Html.Display("OsobaID")
    </div>
    <div>
        @Html.LabelFor(x=>x.MjestoStanovanja)
        @Html.DisplayFor(x => x.MjestoStanovanja)
    </div>
    <div>
        @Html.LabelFor(x => x.Spol)
        @Html.DisplayFor(x => x.Spol)
    </div>
    <div>
        @Html.LabelFor(x => x.Zaposlen)
        @Html.DisplayFor(x => x.Zaposlen)
    </div>
    <div>
        @Html.LabelFor(x => x.DatumRodjenja)
        @Html.DisplayFor(x => x.DatumRodjenja)
    </div>
    <div>
        @Html.LabelFor(x => x.Napomena)
        @Html.DisplayFor(x => x.Napomena)
    </div>
    
    
</body>
</html>

